body {
    text-align: center;
}
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-textoAnalisis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px;
}

.contenedor-textoAnalisis label {
    margin: 10px 0px 0px 0px;
}

.contenedor div:not(.contenedor-textoAnalisis) {
    width: 80%;
}

.contenedor-botones {
    padding-top: 15px;
    padding-bottom: 15px;
}